NVD_API_BASE=https://services.nvd.nist.gov/rest/json/cves/2.0
NVD_API_KEY=api_key

MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=security
MONGODB_COLLECTION=nvd_cve_raw

CHECKPOINT_FILE=.nvd_checkpoint.json